In [4]:
for temp_var in [1, 2, 3, 4, 5]:
    loop_body = temp_var * 2
    print(loop_body)

2
4
6
8
10

In [7]:
a = 6
b = 7
for temp in {1, 2, 3, 4, 5, a, b}:
    print(temp)

1
2
3
4
5
6
7

In [4]:
for temp_var in ["Happy Birthday"]:
    print(temp_var * 5)

Happy BirthdayHappy BirthdayHappy BirthdayHappy BirthdayHappy Birthday

In [12]:
for temp_var in range(5):
    print(temp_var, "Happy Birthday")

0 Happy Birthday
1 Happy Birthday
2 Happy Birthday
3 Happy Birthday
4 Happy Birthday

In [14]:
times = int(input("How many times do you want to print 'Happy Birthday'?")) 
for temp_var in range(times):
    print(temp_var, "Happy Birthday")

0 Happy Birthday
1 Happy Birthday
2 Happy Birthday
3 Happy Birthday

In [24]:
# Take input from user (not used for the square calculation, but included as per your code)
input_n = int(input("Enter a number: "))

# Print the square of the first 6 numbers (1 to 6)
for n in range(input_n):
    print(f"Square of {n+1} is {(n+1)**2}")

Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25

In [ ]:
DIctionary

In [ ]:
num = it(input("Enter a number:"))

In [17]:
n = 3 * 1 =3

SyntaxError: cannot assign to expression (753945174.py, line 1)

In [37]:
table = int(input("Enter a number: "))
times = int(input("How many times do you want to print the table? "))
for temp in range(1, times + 1):
    print(f"{table} x {temp} = {table * temp}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10

In [36]:
table = int(input("Enter a number: "))
times = int(input("How many times do you want to print the table? "))
for temp in range(times):
    print (f"{table} * {temp+1} = {table * (temp+1)}")

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [41]:
table = [3,4,5]
times = int(input("How many times do you want to print the table? "))
for temp in range(times):
    for
    print (f"{table} * {temp+1} = {table * (temp+1)}")

SyntaxError: invalid syntax (3710447485.py, line 4)

In [50]:
num = int(input("Enter a number: "))
for x in [2,3,4,5]:
    for y in range(1,num):
     print(f"{x} * {y} = {x * y}")
    num -=1
    print(f"----------  ")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
----------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
----------
4 * 1 = 4
4 * 2 = 8
----------
5 * 1 = 5
----------

In [79]:
times = int(input("How many times do you want to print the table? "))
for table in range (2,5):
 for temp in range (times):
    print(f"{table} * {temp+1} = {table * (temp+1)}")
 times -= 1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12

In [ ]:
- Key =: ValueE
['Qasim', 'Hassan', 18, 21]

In [105]:
bio_data = { "f_name": "Qasim",
    "l_name": "Hassan",
    "age": 18,
    "height": 21}

print(bio_data)

print(bio_data.get("f_name"),bio_data.get("cnic"))

{'f_name': 'Qasim', 'l_name': 'Hassan', 'age': 18, 'height': 21}
Qasim None

In [3]:
bio_data = {
    "f_name": "Qasim",
    "l_name": "Hassan",
    "age": 18,
    "height": 21
}

# Add a new key-value pair using correct syntax
bio_data.update({"cnic": 1234567890})
print(bio_data)

{'f_name': 'Qasim', 'l_name': 'Hassan', 'age': 18, 'height': 21, 'cnic': 1234567890}

In [21]:

bio_data = {
    "f_name": "Qasim",
    "l_name": "Hassan",
    "age": 18,
    "height": 21
}

# Add a new key-value pair using correct syntax
print(bio_data.setdefault("l_name"))
#print(bio_data)

Hassan

Dictonary Comprehension
List Comprehension

In [26]:
l =  [ i ** 2 for i in range (1,8,2)]
print(l)

[1, 9, 25, 49]

Dictory Comprehension

In [30]:
d = {ii : ii**2 for ii in range(5)}
print(d)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [33]:
result = {"Ali":60, "Ahmed":80, "Sara":90}
passed = {name:marks for name, marks in result.items() if marks >= 70}
print(passed)

{'Ahmed': 80, 'Sara': 90}