In [1]:
city_0 = "Karachi"
city_1 = "Lahore"
city_2 = "Islamabad"    
city_3 = "Faisalabad"
city_4 = "Multan"
city_5 = "Hyderabad"
city_6 = "Gujranwala"
city_7 = "Peshawar"

id(city_0)

2002680590096

Manage more than 200 is difficult to manage and its using too much memory
if use variable approach
So need list

In [4]:
cities = ["Karachi", "Lahore", "Islamabad", "Faisalabad", "Multan", "Hyderabad", "Gujranwala", "Peshawar"]

String Ky . walay try karna hai"

In [6]:
type(cities), id(cities)

(list, 2002688240960)

In [9]:
cities.append("Quetta") 
print(cities)

['Karachi', 'Lahore', 'Islamabad', 'Faisalabad', 'Multan', 'Hyderabad', 'Gujranwala', 'Peshawar', 'Quetta', 'Quetta']

In [11]:
cities.count("Karachi")

1

In [13]:
cities.insert(0, "Quetta")
print(cities)

['Quetta', 'Quetta', 'Karachi', 'Lahore', 'Islamabad', 'Faisalabad', 'Multan', 'Hyderabad', 'Gujranwala', 'Peshawar', 'Quetta', 'Quetta']

In [ ]:
cities.pop()#remove last

'Peshawar'

In [20]:
cities.remove("Quetta")#remove specific
print(cities)

['Quetta', 'Lahore', 'Islamabad', 'Faisalabad', 'Multan', 'Hyderabad', 'Gujranwala']

In [ ]:
cities.reverse

['Quetta', 'Lahore', 'Islamabad', 'Faisalabad', 'Multan', 'Hyderabad', 'Gujranwala']

In [36]:
cities.sort()#sort in ascending order
print(cities)

['Faisalabad', 'Gujranwala', 'Hyderabad', 'Islamabad', 'Lahore', 'Multan', 'Quetta']

Shallow Copy / Deep Copy

In [37]:
print(cities)

['Faisalabad', 'Gujranwala', 'Hyderabad', 'Islamabad', 'Lahore', 'Multan', 'Quetta']

In [38]:
cities_new = cities.copy() # Shallow Copy
print(cities_new)

['Faisalabad', 'Gujranwala', 'Hyderabad', 'Islamabad', 'Lahore', 'Multan', 'Quetta']

In [42]:
#cities_new.append("Karachi") # Adding a new city to the new list
print(cities_new)
cities_new.sort()

['Faisalabad', 'Gujranwala', 'Hyderabad', 'Islamabad', 'Karachi', 'Karachi', 'Lahore', 'Multan', 'Quetta']

In [ ]:
import copy
cities_deep = copy.deepcopy(cities_new) # Deep Copy
print(cities_deep)
print(cities_new)

['Faisalabad', 'Gujranwala', 'Hyderabad', 'Islamabad', 'Karachi', 'Karachi', 'Lahore', 'Multan', 'Quetta']
['Faisalabad', 'Gujranwala', 'Hyderabad', 'Islamabad', 'Karachi', 'Karachi', 'Lahore', 'Multan', 'Quetta']

In [59]:
cities_deep.remove("Karachi")  # Removing Karachi from the deep copy
print(cities_deep)
print(cities_new)  # Original list remains unchanged

['Faisalabad', 'Gujranwala', 'Hyderabad', 'Islamabad', 'Karachi', 'Lahore', 'Multan', 'Quetta']
['Faisalabad', 'Gujranwala', 'Hyderabad', 'Islamabad', 'Karachi', 'Karachi', 'Lahore', 'Multan', 'Quetta']

In [ ]:
cities_new.deepcopy() # Deep Copy
print(cities_new)

SLicing

In [61]:
cities[:5]  # Slicing to get the first 5 cities

['Faisalabad', 'Gujranwala', 'Hyderabad', 'Islamabad', 'Lahore']

In [62]:
import copy

# Shallow copy example
shallow_copied_list = cities.copy()
shallow_copied_list.append("Sialkot")
print("Original list:", cities)
print("Shallow copied list:", shallow_copied_list)

# Deep copy example
deep_copied_list = copy.deepcopy(cities)
deep_copied_list.append("Sargodha")
print("Original list:", cities)
print("Deep copied list:", deep_copied_list)

Original list: ['Faisalabad', 'Gujranwala', 'Hyderabad', 'Islamabad', 'Lahore', 'Multan', 'Quetta']
Shallow copied list: ['Faisalabad', 'Gujranwala', 'Hyderabad', 'Islamabad', 'Lahore', 'Multan', 'Quetta', 'Sialkot']
Original list: ['Faisalabad', 'Gujranwala', 'Hyderabad', 'Islamabad', 'Lahore', 'Multan', 'Quetta']
Deep copied list: ['Faisalabad', 'Gujranwala', 'Hyderabad', 'Islamabad', 'Lahore', 'Multan', 'Quetta', 'Sargodha']

SLicing and reversing

In [66]:
cities[::-1]  # Slicing and reversing

['Quetta',
 'Multan',
 'Lahore',
 'Islamabad',
 'Hyderabad',
 'Gujranwala',
 'Faisalabad']

In [68]:
cities_new = cities

In [70]:
cities.remove("Quetta")
print(cities)
print(cities_new)  # Both lists will reflect the change since it's a shallow copy

['Faisalabad', 'Gujranwala', 'Hyderabad', 'Islamabad', 'Lahore', 'Multan', 'Quetta']
['Faisalabad', 'Gujranwala', 'Hyderabad', 'Islamabad', 'Lahore', 'Multan', 'Quetta']

In [72]:
type(cities_new), id(cities_new)
type(cities), id(cities)

(list, 2002688240960)

In [76]:
students = ["Ali", "Ahmed", "Sara", "Fatima"]
print(students)

['Ali', 'Ahmed', 'Sara', 'Fatima']

In [81]:
students.pop(1)  # Remove the last student
print(students)

['Ali', 'Sara']

In [89]:
index = students.index("Sara")  # Find the index of a student
print("Index of Sara:", index)

Index of Sara: 1

In [93]:
# pop() removes an item at a given index (default is the last item) and returns it
removed_city = cities.pop(2)  # Removes the city at index 2
print("After pop:", cities)
print("City removed using pop:", removed_city)

# remove() removes the first occurrence of a value
cities.remove("Faisalabad")  # Removes the city named "Lahore"
print("After remove:", cities)

After pop: ['Faisalabad', 'Gujranwala']
City removed using pop: Quetta
After remove: ['Gujranwala']

Tuple

In [104]:
bio_data = ["Qasim", 26, "Engineer" , 80.5] # Tuple with multiple data types

In [105]:
del bio_data[1]  # Deleting the bio_data variable
print(bio_data)  # Display the bio_data tuple

['Qasim', 'Engineer', 80.5]

In [95]:
print(bio_data)  # Display the bio_data tuple

['Qasim', 26, 'Engineer', 80.5]

In [110]:
nio_data_t = tuple(bio_data)  # Convert list to tuple
print(nio_data_t)  # Display the tuple

('Qasim', 'Engineer', 80.5)

In [118]:
# To get the first element of the tuple:
print(nio_data_t[2])

# To get the index of "Qasim" in the tuple:
print(nio_data_t.index(80.5))

80.5
2

***Set (No value repeat)

In [121]:
students_set  = set(students) 
print(students_set)  # Display the set of students
print(students)

{'Ali', 'Sara'}
['Ali', 'Sara']

In [122]:
students.append("Ali")
print(students)  # Display the updated list of students
print(students_set)

['Ali', 'Sara', 'Ali']
{'Ali', 'Sara'}

In [133]:
students_set.add("Affan")  # Adding a duplicate value to the set
print(students_set)  # Display the updated set of students
copy_student_set = students_set.copy()
print(copy_student_set)  # Display the copied set of students
copy_student_set.add("Rehan","Shallow")

{'Ali', 'Affan', 'Sara'}
{'Ali', 'Affan', 'Sara'}

TypeError: set.add() takes exactly one argument (2 given)

In [ ]:
students_set.difference(students_set, copy_student_set)  # This line is not necessary, but included for completeness
print(students_set)  # Display the set of students after difference operation
print(copy_student_set # Display the copied set of students after difference operation

{'Ali', 'Affan', 'Sara'}
{'Ali', 'Affan', 'Sara'}